body
{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
    flex-direction: column;
}
#myGrid
{
    
}
.square
{
    border: solid 1px black;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.size
{
    height: 50px;
    width: 50px;
    text-align: center;
}

.size::-webkit-outer-spin-button,
.size::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0;
}